*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}

h2{
    font-size: 45px;
    letter-spacing: 2px;
}
span{
    color: #BFBBBB;
}

#container-div{

    padding: 110px 0;
    align-items: center;
    margin: auto;
    text-align: center;

}

input{
    height: 0.5cm;
    width: 5cm;
    margin: 5px;
    border:2px solid black;
    font-size: 18px;
    background: transparent;
    border-radius: 3px;
}

.submit{
    background: #44aeec;
    color: white;
    border: none;
    width: 5.5cm;
    height: 1cm;
    border-radius: 3px;
    margin-top: 1cm;
    cursor: pointer;
}

.question-content{
    font-size: 10px;
    margin-top: 0.25cm;
    color: #BFBBBB;
}

.question-content a{
    color: #44aeec;;
    cursor: pointer;
}




input:valid {
    border-color: #17be17;
}

input:invalid {
    border-color: #BFBBBB;
}


.invisible{
    display: none;
}

#ajax-response{
    color: #d61111;;
}