*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding-top: 50px;
    height: 100%;
    width: 100%;
    margin: auto;
}

.left {
    width: 35%;
    text-align: center;
    margin: auto;
}

.right {
    width: 60%;
    margin-bottom: 50px;
    height: 100%;
}

h2{
    margin-top: 60px;
}

#profile-img{
    margin-top: 60px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#settings, #payment{
    width: 70%;
    text-align: right;
}

.settings-button, .payment-button{
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.settings-button a, .payment-button a{
    color: #006699;
}

.cover img{
    width: 120px;
    height: 160px;
}

.wishlist{
    margin: auto;
    text-align: left;
}

.book{
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    width: 6cm;
}

.title {
    font-size: 20px;
}

.author{
    color: #b8b8b8;
}



.add-to-cart, #shop-now{
    background: #44aeec;
    color: white;
    padding: 3px;
    border: none;
    width: 100px;
    border-radius: 3px;
}

#shop-now a{
    color: white;
}

@media screen and (max-width: 850px) {

    body{
        text-align: center;
    }

    .left{
        height: 50vh;
    }

    .column {
        width: 100%;
        height: 100%;
    }

}
